<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood Donation</title>
</head>
<body>
  <div class="container">
    <h1>Blood Donation Camp </h1>
    <form [formGroup]="registrationForm" class="registration-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput type="name" placeholder="First Name" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="name" placeholder="Last Name" formControlName="lastName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
        <mat-hint>Date Fromat: mm/dd/yyyy</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="blood-group-selection">
        <mat-label>Select Blood Group</mat-label>
      <mat-radio-group class="radio-group" aria-label="Select Blood Group" required  [(ngModel)]="bloodGroup" formControlName="bloodGroup">
        <div *ngFor="let blood of bloodGroupList">
          <mat-radio-button  [value]="blood">{{blood}}</mat-radio-button>
        </div>
      </mat-radio-group>
      </div>
    </form>
    <button mat-raised-button class="form-button" (click)="onSubmit()" [disabled]="!registrationForm.valid">Submit</button>
  </div>
  
  <router-outlet></router-outlet>
</body>
</html>